{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "settings": {
    "react": {
      "version": "16.4.1"
    }
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [1, "always"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/jsx-curly-brace-presence": [
      1,
      {
        "props": "always",
        "children": "ignore"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "class-methods-use-this": 0,
    "react/no-find-dom-node": 0,
    "react/no-unused-state": 0,
    "react/forbid-prop-types": 0,
    "import/prefer-default-export": 0,
    "react/no-did-mount-set-state": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-mixed-operators": 0,
    "semi": 0,
    "quotes": 1,
    "jsx-quotes": 1,
    "curly": 0,
    "eqeqeq": 0,
    "func-names": 0,
    "valid-typeof": 1,
    "array-bracket-spacing": 0,
    "constructor-super": 1,
    "no-const-assign": 1,
    "no-extra-semi": 0,
    "no-fallthrough": 0,
    "no-empty": 0,
    "no-trailing-spaces": 1,
    "no-mixed-spaces-and-tabs": 0,
    "no-redeclare": 0,
    "no-this-before-super": 1,
    "no-undef": 0,
    "no-unreachable": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 0
  }
}
